{% extends 'front/base.html.twig' %}

{% block title %}Diet{% endblock %}

{% block body %}
    <h1>{{ diet.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ diet.description }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ diet.picture }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('diet_index') }}">back to list</a>

    <a href="{{ path('diet_edit', {'id': diet.id}) }}">edit</a>

    {{ include('front/diet/_delete_form.html.twig') }}
{% endblock %}
