{% extends 'back/base.html.twig' %}

{% block title %}Liste des Utilisateurs{% endblock %}

{% block body %}


<h1> Liste des Utilisateurs</h1>


<br>

<div class="d-grid gap-2 col-4 mx-auto">
 <button type="button" class="btn btn-outline-dark"><a href="{{ path('admin_user_new') }}">Créer un nouveau Cours </a></button>
</div>

<br>

<div class="container">
<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-2">

    {% for user in users %}

      <div class="card" style="width: 18rem;">
        <img src="{{user.picture}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{user.name}}</h5>
          <p class="card-text">{{user.email}}</p>
          <a href="{{ path('admin_user_show', {id : user.id}) }}" class="btn btn-danger">Détails</a>
        </div>
      </div>

    {% endfor %}
     
   </div>
</div>

<br>
 
<a href="{{ path('homepage') }}">Back to homepage</a>

{% endblock %}
