{% extends 'front/base.html.twig' %}

{% block title %}Blog index{% endblock %}

{% block body %}
 
 
    <div class="card bg-dark text-white">
       <img src="../images/back/oldelpachot-5l-Q8p_feHE-unsplash.jpg" class="img-fluid" alt="blog desk">
      <div class="card-img-overlay">
      
        <h1 class="card-title" style="color: white; font-style: italic; font-family: 'Times New Roman', Times, serif; text-align: right; font-size: 5em;"><strong>Le Blog </strong></h1>
        <h3 class="card-text" style="color: white; font-style: italic; font-family: 'Times New Roman', Times, serif; text-align: right;"><strong>Fait par des chefs, pour des chefs</strong></h3>
      </div>
        
    </div>

    <h1 style="margin:30px;color: black; font-style: italic; font-family: 'Times New Roman', Times, serif; font-size: 3em; ">Nos Articles ...</h1>
    <button type="button" class="btn btn-warning btn-lg" ><a href="{{ path('blog_new') }}" style:"color:black; font-weight:bolder">Creer un Article</a></button>
<br>

{% for blog in blogs %}
    <div class="card_display text-white bg-dark mb-3" style="width:20em;height:16em;" >
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ blog.media }}" style="border-radius:5em; width:12em; height:12em" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ blog.title }}</h5>
        <p class="card-text"><small class="text-muted">{{ blog.createdAt|date("m/d/Y") }}</small></p>
            <p class="card-text"><small class="text-muted"><a href="{{ path('blog_show', {'id': blog.id}) }}">Lire la suite</a></small></p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
    
{% endblock %}
