{% extends 'front/base.html.twig' %}

{% block title %}Ingredient{% endblock %}

{% block body %}

<div class="form_new_show">
    <h1>{{ ingredient.name }}</h1>

    <table class="table">
       <tbody>
            <tr>
                <td><img src="{{ vich_uploader_asset(ingredient, 'pictureFile') }}" style="height:10em;width:10em"></td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ ingredient.description }}</td>
            </tr>
            <tr>
                <th>Recette associées</th>
                {% for recipe in ingredient.recipes %}
                <td><a href="{{ path('recipe_show', {id : recipe.id }) }}">{{ recipe.name }}</a></td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>

    <a href="{{ path('ingredient_index') }}">Retour aux Ingredients</a>

    <a href="{{ path('ingredient_edit', {'id': ingredient.id}) }}">edit</a>

    {{ include('front/ingredient/_delete_form.html.twig') }}
{% endblock %}
