{% extends 'back/base.html.twig' %}

{% block title %}Liste des Ingrédients{% endblock %}

{% block body %}


<h1> Liste des Ingrédients</h1>


<br>

<div class="d-grid gap-2 col-4 mx-auto">
 <button type="button" class="btn btn-outline-dark"><a href="{{ path('admin_ingredient_new') }}">Créer un nouvel Ingrédient </a></button>
</div>


<br>

<div class="container">
<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-2">


{% for type in types %}
<button class="btn dropdown-toggle btn-outline-dark" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="true">
  <div class="btn "><li class="list-group-item"><a href="{{ path('admin_type_show', {id : type.id}) }}">{{ type.name }}</a></li></div>
</button>
 
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
 
   {% for typeIngredient in type.ingredients %}
    <div class="btn btn-outline-dark"><li class="list-group-item"><a href="{{ path('admin_ingredient_show', {id : typeIngredient.id }) }}">{{ typeIngredient.name }} 
  </a></li></div> 
   {% endfor %}   

</ul>

{% endfor %}

     
   </div>
</div>

<br>
 
<a href="{{ path('homepage') }}">Back to homepage</a>

{% endblock %}
