{% extends 'front/base.html.twig' %}


{% block body %}
<body>

    <div class="card bg-dark text-white">
       <img src="../images/back/aaron-blanco-tejedor-I0xbweg06KU-unsplash.jpg" class="img-fluid" alt="gastronomy dish">
      <div class="card-img-overlay">
        <h1 class="card-title" style="color: white; font-style: italic; font-family: 'Times New Roman', Times, serif; text-align: left ;"><strong>Pour l'amour de la gastronomie</strong></h1>
        <h3 class="card-text" style="color: black; font-style: italic; font-family: 'Times New Roman', Times, serif; text-align: left ;">Fait par des chefs, pour des chefs</h3>
      </div>


        <div class="input-group mb-1">
          <button class="btn btn-outline-warning" type="button" id="button-addon1" style="width: 30em;">Rechercher</button>
          <input type="text" class="form-control" id="search-user" placeholder="Faites une recherche rapide" aria-label="Example text with button addon" aria-describedby="button-addon1">
        </div>

    </div>


    <div class="card mb-3" style="max-width: 700px; padding: 20px; margin:30px;">
      <div class="row g-0">
      {% for blog in oneBlog %}
        <div class="col-md-4">
          <img src="../images/back/andres-medina-eGPlT_RXzi8-unsplash.jpg" class="img-fluid" style="height:12em" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ blog.title }}</h5>
            <p class="card-text">{{ blog.introduction }}</p>
            <p class="card-text"><small class="text-muted">{{ blog.createdAt ? blog.createdAt|date('Y-m-d H:i:s') : ''  }}</small></p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

   {#-----------------------------Display Recettes------------------------------#}

<div id="recipes" style="display:inline-flex">
  <p class="h2" style="color: white; font-style: italic; font-family: 'Times New Roman', Times, serif; text-align: left; font-size:5em;">Recettes</p>
   {% for recipe in recipe_list %}
    <div class="card" style="width: 18rem; margin: 20px;"  >

        <img src="../images/back/sam-moqadam-wgb7RUbYP8Y-unsplash.jpg" class="card-img-top" alt="..." style="height:9em; width:12em">
          <div class="card-body">

            <div class="search-data">

            {% for blog in blog_list %} 
            {{blog.title}}
            {% endfor %}

            {% for recipe in recipe_list %} 
            {{recipe.title}}

                {% for ingredient in recipe.ingredient %}
                {{ ingredient.name}}
                {% endfor %}
            {% endfor %}

            {% for ingredient in ingredient_list %} 
            {{ingredient.name}}
            {% endfor %}

            {% for category in category_list %} 
            {{category.name}}
            {% endfor %}

            {% for country in country_list %} 
            {{country.name}}
            {% endfor %}
            
            </div>

            <h5 class="card-title">{{ recipe.title }}</h5>
            <p class="card-text">{{ recipe.introduction }}</p>
            <p class="card-text"><small class="text-muted">{{ recipe.createdAt|date("m/d/Y") }}</small></p>
          </div> 
    </div> 
    {% endfor %}
</div>

{#-----------------------------Display Articles------------------------------#}

<div id="blog-articles" style="display:inline-flex">
  <p class="h2" style="color: white; font-style: italic; font-family: 'Times New Roman', Times, serif; text-align: left; font-size:5em;">Articles</p>
   {% for blog in blog_list %}
    <div class="card" style="width: 18rem; margin: 20px;"  >

        <img src="../images/back/toa-heftiba-oQvESMKUkzM-unsplash.jpg" class="card-img-top" alt="..." style="height:9em">
          <div class="card-body">

            <div class="search-data">

            {% for blog in blog_list %} 
            {{blog.title}}
            {% endfor %}

            {% for recipe in recipe_list %} 
            {{recipe.title}}

                {% for ingredient in recipe.ingredient %}
                {{ ingredient.name}}
                {% endfor %}
            {% endfor %}

            {% for ingredient in ingredient_list %} 
            {{ingredient.name}}
            {% endfor %}

            {% for category in category_list %} 
            {{category.name}}
            {% endfor %}

            {% for country in country_list %} 
            {{country.name}}
            {% endfor %}
            
            </div>

            <h5 class="card-title">{{ blog.title }}</h5>
            <p class="card-text"><small class="text-muted">{{ blog.createdAt|date("m/d/Y") }}</small></p>
          </div> 
    </div> 
    {% endfor %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
$('#search-user').keyup( function () {
    $('#recipes .card').show();
    $('#blog-articles .card').show();
    var filter = $(this).val(); // get the value of the input, which we filter on
    $('#recipes').find(".search-data:not(:contains(" + filter + "))").parent().parent().parent().parent().css('display','none');
    $('#blog-articles').find(".search-data:not(:contains(" + filter + "))").parent().parent().parent().parent().css('display','none');
});
</script>
<style>
.search-data {
  display: none;
}
</style>



{% endblock %}