

<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>O'Chef</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/navbar-fixed/">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    
    <!-- Custom styles for this template -->
    
    {% block stylesheets %}<link href="{{ asset('css/front/style.theme.css') }}" rel="stylesheet">{% endblock %}
    <title>{% block title %}O'Chef ! {% endblock %}</title>

  </head>

 {% block header %}

<div class="header">

<h4><a class="btn btn-dark" href="{{ path('app_register') }}">Inscription </a></h4>

<h2><a href="{{ path('homepages') }}"><strong>O'</strong>Chef</a></h2>

 {% if app.user %}
        <div style="font-size:15px">
            Bienvenue {{ app.user.username }}, 
            
<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      Paramètres
    </a>

{% for user in user_list %}
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" href="{{ path('user_show', {'id': user.id}) }}">Mon Profil</a></li>
      <li><a class="dropdown-item" href="{{ path('user_edit', {'id': user.id}) }}">Modifier Profil</a></li>

  {% if is_granted('ROLE_ADMIN') %}
      <li><a class="dropdown-item" href="{{ path('homepage') }}">Back-office</a></li>
  {% endif %}

      <li><a class="dropdown-item" href="{{ path('app_logout') }}"><strong>Déconnexion</strong></a></li>
    </ul>
{% endfor %}
</div>
        </div>
    {% endif %}

<h4><a class="btn btn-dark " href="{{ path('app_login') }}">Connexion</a></h4>
</div>

<center>

<div class="container_all">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav">

      <li class="navbar-brand">
            <a class="nav-link" href="{{ path('homepages') }}">Accueil</a>
      </li>
        <li class="navbar-brand">
              <a class="nav-link" {% block menu_recipe %}{% endblock %} href="{{ path('recipe_index') }}">Cuisine</a>
        </li>
        <li class="navbar-brand">
              <a class="nav-link" {% block menu_blog %}{% endblock %} href="{{ path('blog') }}">Blog</a>
        </li>
         <li class="navbar-brand">
              <a class="nav-link" {% block menu_learn %}{% endblock %} href="{{ path('learn_index') }}">Leçons</a>
        </li>
        <li class="navbar-brand">
              <a class="nav-link" {% block menu_video_room %}{% endblock %} href="{{ path('video_room_index') }}">Video Room</a>
        </li>
         <li class="navbar-brand">
              <a class="nav-link" href=""#>About</a>
        </li>
      </ul>
      </div>
  </div>
</nav>



    </button>
    
{% endblock %}
{% block body %}
<body>

{#---------------------------------------Carte Image-Accueil -----------------------------------------#}
    <div class="card">
       <img src="../images/back/aaron-blanco-tejedor-I0xbweg06KU-unsplash.jpg" class="img-fluid" alt="gastronomy dish">
      <div class="card-img-overlay">
        <h2 class="card-title">Pour l'amour de la gastronomie</h2>
        <h3 class="card-text">Fait par des chefs, pour des chefs</h3>
      </div>
        <div class="input-group mb-1">
          <button class="btn btn-outline-dark" type="button" id="button-addon1">Rechercher</button>
          <input type="text" class="form-control" id="search-user" placeholder="Faites une recherche rapide" aria-label="Example text with button addon" aria-describedby="button-addon1">
        </div>

    </div>  
        

    

          {#-----------------------------carroussel Articles------------------------------#} 

<p class="h2">Les Favorits de la semaine</p>


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-inner">

     <div class="carousel-item active">
      <div class="card mb-3">
      <div class="row g-0">
      {% for blog in oneBlog %}
        <div class="col-md-4">
            <img src="{{ vich_uploader_asset(blog, 'mediaFile') }}">        
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><a href="{{ path('blog_show',{'id': blog.id}) }}">{{ blog.title }}</a></h5>
            <p class="card-text">{{ blog.introduction }}</p>
            <p class="card-text"><small class="text-muted">{{ blog.createdAt|date("d/m/Y") }}</small></p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

        {#-----------------------------carroussel Recettes------------------------------#}

    <div class="carousel-item">
      <div class="card mb-3">
      <div class="row g-0">
      {% for recipe in oneRecipe %}
        <div class="col-md-4">
            <img src="{{ vich_uploader_asset(recipe, 'pictureFile') }}">        
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><a href="{{ path('recipe_show',{'id': recipe.id}) }}">{{ recipe.name }}</a></h5>
            <p class="card-text">{{ recipe.introduction }}</p>
            <p class="card-text"><small class="text-muted">{{ recipe.createdAt|date("d/m/Y") }}</small></p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    </div>

  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


   {#-----------------------------Display Search Recettes------------------------------#}

  <p class="h2">Recettes</p>
<div id="recipes" style="display:inline-flex">
   {% for recipe in recipe_list %}
    <div class="card_display">

            <img src="{{ vich_uploader_asset(recipe, 'pictureFile') }}" style="height:10em;width:10em">        
          <div class="card-body">

            <div class="search-data">

            {% for blog in blog_list %} 
            {{blog.title}}
            {% endfor %}

            {% for recipe in recipe_list %} 
            {{recipe.name}}

                {% for ingredient in recipe.ingredients %}
                {{ ingredient.name}}
                {% endfor %}
            {% endfor %}

            {% for ingredient in ingredient_list %} 
            {{ingredient.name}}
            {% endfor %}

            {% for category in category_list %} 
            {{category.name}}
            {% endfor %}

            {% for country in country_list %} 
            {{country.name}}
            {% endfor %}
            
            </div>

            <h5 class="card-title" style="font-style: italic; font-family: 'Times New Roman', Times, serif;">{{ recipe.name }}</h5>
            <p class="card-text">{{ recipe.introduction }}</p>
            <p class="card-text"><small class="text-muted">{{ recipe.createdAt|date("m/d/Y") }}</small></p>
            <p class="card-text"><a href="{{ path('recipe_show',{'id': recipe.id}) }}">Voir</a></p>

          </div> 
    </div> 
    {% endfor %}
</div>

{#-----------------------------Display search Articles------------------------------#}
  
<p class="h2">Articles</p>
<div id="blog-articles">
   {% for blog in blog_list %}
    <div class="card_display">

            <img src="{{ vich_uploader_asset(blog, 'mediaFile') }}">        
          <div class="card-body">

            <div class="search-data">

            {% for blog in blog_list %} 
            {{blog.title}}
            {% endfor %}

            {% for recipe in recipe_list %} 
            {{recipe.name}}

            {% endfor %}

            {# {% for ingredient in ingredient_list %} 
            {{ingredient.name}}
            {% endfor %} #}

            {% for category in category_list %} 
            {{category.name}}
            {% endfor %}

            {% for country in country_list %} 
            {{country.name}}
            {% endfor %}
            
            </div>

            <h5 class="card-title"style="font-style: italic; font-family: 'Times New Roman', Times, serif;">{{ blog.title }}</h5>
            <p class="card-text"><small class="text-muted">{{ blog.createdAt|date("m/d/Y") }}</small></p>
            <p class="card-text"><a href="{{ path('blog_show',{'id': blog.id}) }}">Voir</a></p>

          </div> 
    </div> 
    {% endfor %}
</div>

{# --------------------------------------SCRIPT---------------------------------------------------------#}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
$('#search-user').keyup( function () {
    $('#recipes .card').show();
    $('#blog-articles .card').show();
    var filter = $(this).val(); // get the value of the input, which we filter on
    $('#recipes').find(".search-data:not(:contains(" + filter + "))").parent().parent().css('display','none');
    $('#blog-articles').find(".search-data:not(:contains(" + filter + "))").parent().parent().css('display','none');
});
</script>
<style>
.search-data {
  display: none;
}
</style>



{% endblock %}