{% extends 'back/base.html.twig' %}

{% block title %}Liste des Types D'aliments{% endblock %}

{% block body %}


<h1> Liste des Types d'aliments</h1>


<br>

<div class="d-grid gap-2 col-4 mx-auto">
 <button type="button" class="btn btn-outline-dark"><a href="{{ path('admin_type_new') }}">Créer un nouveau Type Alimentaire </a></button>
</div>

<br>

<div class="container">
<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-2">

    {% for type in types %}

    <div class="card" style="width: 18rem;">
        <img src="{{type.picture}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{type.name}}</h5>
          <a href="{{ path('admin_type_show', {id : type.id}) }}" class="btn btn-danger">Détails</a>
        </div>
      </div>

    {% endfor %}
     
   </div>
</div>

<br>
 
<a href="{{ path('homepage') }}">Back to homepage</a>

{% endblock %}
