{% extends 'front/base.html.twig' %}

{% block title %}Recipe{% endblock %}

{% block body %}

    <div class="card bg-dark text-white">
       <img src="../images/back/michael-browning-MtqG1lWcUw0-unsplash.jpg" class="img-fluid" alt="gastronomy dish">
      <div class="card-img-overlay">
      
        <h1 class="card-title" style="color: white; font-style: italic; font-family: 'Times New Roman', Times, serif; text-align: right; font-size: 5em;"><strong>La Cuisine</strong></h1>
        <h2 class="card-text" style="color: white; font-style: italic; font-family: 'Times New Roman', Times, serif; text-align: right;"><strong>Fait par des chefs, pour des chefs</strong></h2>
      </div>
        <div class="input-group mb-1">
          <button class="btn btn-outline-warning" type="button" id="button-addon1" style="width: 30em;">Rechercher</button>
          <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
        </div>
    </div>

<div class ="form_new_show">
    <h1>{{ recipe.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ recipe.description }}</td>
            </tr>
            <tr>
                <td>{{ recipe.picture }}</td>
            </tr>
            <tr>
                <th>Temps de Préparation</th>
                <td>{{ recipe.time }} min </td>
            </tr>
            <tr>
                <th>Portions</th>
                <td>{{ recipe.portions }} personnes </td>
            </tr>
            <tr>
                <th>Dangerosité</th>
                <td>{{ recipe.dangerLevel }}</td>
            </tr>
            <tr>
                <th>Difficulté</th>
                <td>{{ recipe.difficult }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ recipe.createdAt|date("d/m/Y") }}</td>
            </tr>
            
        </tbody>
    </table>
</div>
    <p><a href="{{ path('recipe_index') }}">Retour</a></p>

    <p><a href="{{ path('recipe_edit', {'id': recipe.id}) }}">Modifier Recette</a></p>

    {{ include('front/recipe/_delete_form.html.twig') }}
{% endblock %}
