{% extends 'back/base.html.twig' %}

{% block title %}Recipe{% endblock %}

{% block body %}
    <h1>Recipe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recipe.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ recipe.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ recipe.description }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td><img src="{{ vich_uploader_asset(recipe, 'pictureFile') }}" style="height:10em;width:10em"></td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ recipe.time }}</td>
            </tr>
            <tr>
                <th>Portions</th>
                <td>{{ recipe.portions }}</td>
            </tr>
            <tr>
                <th>Danger_level</th>
                <td>{{ recipe.dangerLevel }}</td>
            </tr>
            <tr>
                <th>Difficult</th>
                <td>{{ recipe.difficult }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ recipe.createdAt ? recipe.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ recipe.updatedAt ? recipe.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_recipe_index') }}">back to list</a>

    <a href="{{ path('admin_recipe_edit', {'id': recipe.id}) }}">edit</a>

    {{ include('back/recipe/_delete_form.html.twig') }}
{% endblock %}
