{% extends 'base.html.twig' %}

{% block title %}Learn index{% endblock %}

{% block body %}
    <h1>Learn index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Picture</th>
                <th>Link</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for learn in learns %}
            <tr>
                <td>{{ learn.id }}</td>
                <td>{{ learn.name }}</td>
                <td>{{ learn.description }}</td>
                <td>{{ learn.picture }}</td>
                <td>{{ learn.link }}</td>
                <td>{{ learn.createdAt ? learn.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ learn.updatedAt ? learn.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('learn_show', {'id': learn.id}) }}">show</a>
                    <a href="{{ path('learn_edit', {'id': learn.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('learn_new') }}">Create new</a>
{% endblock %}
