{% extends 'back/base.html.twig' %}

{% block title %}Learn{% endblock %}

{% block body %}
    <h1>Learn</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ learn.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ learn.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ learn.description }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td><img src="{{ vich_uploader_asset(learn, 'pictureFile') }}" style="height:10em;width:10em" alt="..."></td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ learn.link }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ learn.createdAt ? learn.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ learn.updatedAt ? learn.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_learn_index') }}">back to list</a>

    <a href="{{ path('admin_learn_edit', {'id': learn.id}) }}">edit</a>

    {{ include('back/learn/_delete_form.html.twig') }}
{% endblock %}
