{% extends 'front/base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class ="form_new_show">
    <h1>Profil de {{ user.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ user.picture }}</td>
            </tr>
            <tr>
                <th>Date de Création</th>
                <td>{{ user.createdAt|date("m/d/Y") }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('homepages') }}">Retour</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>

    {{ include('front/user/_delete_form.html.twig') }}
</div>
{% endblock %}
