{% extends 'base.html.twig' %}

{% block title %}VideoRoom index{% endblock %}

{% block body %}
    <h1>VideoRoom index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Link</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video_room in video_rooms %}
            <tr>
                <td>{{ video_room.id }}</td>
                <td>{{ video_room.name }}</td>
                <td>{{ video_room.description }}</td>
                <td>{{ video_room.link }}</td>
                <td>{{ video_room.createdAt ? video_room.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ video_room.updatedAt ? video_room.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('video_room_show', {'id': video_room.id}) }}">show</a>
                    <a href="{{ path('video_room_edit', {'id': video_room.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('video_room_new') }}">Create new</a>
{% endblock %}
