<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>O'Chef</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/navbar-fixed/">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    
    <!-- Custom styles for this template -->
    
    {% block stylesheets %}<link href="{{ asset('css/back/style.theme.css') }}" rel="stylesheet">{% endblock %}
    <title>{% block title %}O'Chef ! {% endblock %}</title>

  </head>
  <body>

<div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar">


            <h1><a class="navbar-brand" href="{{ path('homepage') }}" style="color: white;"><strong>O'Chef</strong></a></h1>

<ul class="list-unstyled components">


          <br>

        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>

            <li class="nav-item">
                <a class="nav-link {% block menu_user %}{% endblock %}" href="{{ path('admin_user_index') }}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="color: white;font-family: 'Times New Roman', Times, serif;">Utilisateurs</a>
            </li>

              <li class="nav-item">
                
              <a class="nav-link {% block menu_recipe %}{% endblock %}" href="{{ path('admin_recipe_index') }}" style="color: white;font-family: 'Times New Roman', Times, serif;">Recettes</a>
              </li>

              <li class="nav-item">
                
              <a class="nav-link {% block menu_ingredient %}{% endblock %}" href="{{ path('admin_ingredient_index') }}"style="color: white;font-family: 'Times New Roman', Times, serif;">Ingrédients</a>
              </li>

              <li class="nav-item">
              <a class="nav-link {% block menu_category %}{% endblock %}" href="{{ path('admin_category_index') }}"style="color: white;font-family: 'Times New Roman', Times, serif;">Catégories</a>
              </li>

              <li class="nav-item">
              <a class="nav-link {% block menu_region %}{% endblock %}" href="{{ path('admin_region_index') }}"style="color: white;font-family: 'Times New Roman', Times, serif;">Régions</a>
              </li>

              <li class="nav-item">
              <a class="nav-link {% block menu_country %}{% endblock %}" href="{{ path('admin_country_index') }}"style="color: white;font-family: 'Times New Roman', Times, serif;">Pays</a>
              </li>

              <li class="nav-item">
              <a class="nav-link {% block menu_diet %}{% endblock %}" href="{{ path('admin_diet_index') }}"style="color: white;font-family: 'Times New Roman', Times, serif;">Diètes</a>
              </li>

              <li class="nav-item">
              <a class="nav-link {% block menu_learn %}{% endblock %}" href="{{ path('admin_learn_index') }}"style="color: white;font-family: 'Times New Roman', Times, serif;">Cours</a>
              </li>

              <li class="nav-item">
              <a class="nav-link {% block menu_type %}{% endblock %}" href="{{ path('admin_type_index') }}"style="color: white;font-family: 'Times New Roman', Times, serif;">Types d'aliments</a>
              </li>

              <li class="nav-item">
              <a class="nav-link {% block menu_video_room %}{% endblock %}" href="{{ path('admin_video_room_index') }}"style="color: white;font-family: 'Times New Roman', Times, serif;">Vidéo Room</a>
              </li>

              <li class="nav-item">
              <a class="nav-link {% block menu_blog %}{% endblock %}" href="{{ path('admin_blog_index') }}"style="color: white;font-family: 'Times New Roman', Times, serif;">Blog</a>
              </li>

               <li class="nav-item">
              <a class="nav-link {% block menu_post %}{% endblock %}" href="{{ path('admin_post_index') }}"style="color: white;font-family: 'Times New Roman', Times, serif;">Commentaires</a>
              </li>

<br>

          <div class="text-white text-nowrap">
            <a href="{{  path('app_logout') }}" class="btn btn-secondary">Déconnexion ! </a>
          </div>

          </ul>

          
    </nav>
    <!-- Page Content -->
    <div id="content">
        <!-- We'll fill this with dummy content -->
    </div>

{#  </div>  #}  
    

    {# <main class="container">
    
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
      
    
    </main> #}

 <div class="body_block">

  {% block body %}
  <h1> Bienvenue Dans le back-office O'Chef </h1>
          <div class="text-white text-nowrap">
            <a href="{{  path('app_logout') }}" class="btn btn-primary">Déconnexion ! </a>
          </div>
  {% endblock %} 
  

</div> 

</div>

  {% block footer %} 
                      <div class="card text-center"> 
                      <a class="card-footer text-muted " href="{{ path('homepage') }}">O'CHEF</a>
                      </div>
  {% endblock %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    {% block javascripts %}{% endblock %} 
  </body>
</html>