{% extends 'front/base.html.twig' %}

{% block title %}Learn{% endblock %}

{% block body %}

    <div class="card bg-dark text-white">
       <img src="../images/back/randy-tarampi-ryUVRPYhxrY-unsplash.jpg" class="img-fluid" alt="gastronomy dish">
      <div class="card-img-overlay">
      
        <h1 class="card-title" style="color: white; font-style: italic; font-family: 'Times New Roman', Times, serif; text-align: right; font-size: 5em;"><strong>Cours de Cuisine</strong></h1>
        <h2 class="card-text" style="color: white; font-style: italic; font-family: 'Times New Roman', Times, serif; text-align: right;"><strong>Fait par des chefs, pour des chefs</strong></h2>
      </div>
        <div class="input-group mb-1">
          <button class="btn btn-outline-warning" type="button" id="button-addon1" style="width: 30em;">Rechercher</button>
          <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
        </div>
    </div>

    <h1>Learn</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ learn.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ learn.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ learn.description }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ learn.picture }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ learn.link }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ learn.createdAt ? learn.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ learn.updatedAt ? learn.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('learn_index') }}">back to list</a>

{% endblock %}
